<!DOCTYPE html>
<html>
<head>
    <title>Compare Banks</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Compare Banks</h1>
    <table>
        
        <thead>
            <th>Bank Name</th>
        </thead>

        {% for bank in banks %}
        <tr>
            <td> {{ bank.BankID }} </td>  
        </tr>
        {% endfor %}
    </table>

