<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='sLanding.css') }}"/>
    <title>Compare Banks</title>

</head>
<body>

<header>
    <h1>Compare Banks</h1>
    <nav class="menu">
        <a href="#">Home</a>
        <a href="#about">About Us</a>
        <a href="#contact">Contact</a>
    </nav>
</header>

<section class="landing-section">
    <h1>Welcome to Compare Banks</h1>
    <p>Compare banks and find the best financial options tailored to your needs.</p>
    
    <button>Compare</button>
</section>


<section class="discription-section">
    <div class="container">
        <h1> How Compare Banks Works </h1>
        <p> Getting the best bank for you made easy with compare banks </p> 
        <div class="team">
            <div class="team-member">
                <h2>Select Your Package</h2>
                <p>Choose multiple banks to compare their packages side-by-side with ease.</p>
            </div>
            <div class="team-member">
                <h2>Compare Features</h2>
                <p>Evaluate monthly fees, interest rates, and additional charges with clear comparisons.</p>
            </div>
            <div class="team-member">
                <h2>Filter Your Options</h2>
                <p>Evaluate monthly fees, interest rates, and additional charges with clear comparisons.</p>
            </div>
            <div class="team-member">
                <h2>Make informed Decisions</h2>
                <p>Empower yourself with essential information to choose the best bank package for your needs</p>
            </div>
    
        </div>
    </div>
</section>

<div class="video-section">
    <h2>How to Use the App</h2>
    <video controls>
        <source src="video_tutorial.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>


<section class="about-section" id="about">
    <h2>About Us</h2>
    <p>Our team is dedicated to providing the best bank comparison tool for your needs. Meet the team behind the app:</p>
    <div class="team">
        <div class="team-member">
            <img src="static/images/Mugisha David.jpg" alt="Team Member 1">
            <h3>Alphonse Mugisha</h3>
            <p>Backend Developer</p>
        </div>
        <div class="team-member">
            <img src="static/images/IMG-20231015-WA0008.jpg" alt="Team Member 2">
            <h3>Tshepiso Tlhong</h3>
            <p>Backend Developer</p>
        </div>
        <div class="team-member">
            <img src="static/images/WhatsApp Image 2024-12-08 at 19.27.33_cdc19f94.jpg" alt="Team Member 3">
            <h3>Jay Udoye</h3>
            <p>UI/UX Designer</p>
        </div>
        <div class="team-member">
            <img src="static/images/WhatsApp Image 2024-12-08 at 19.29.58_46ca6afa.jpg" alt="Team Member 4">
            <h3>Joseph Ochieng</h3>
            <p>Front-end Developer</p>
        </div>
    </div>
</section>

<footer>
    <p>&copy; 2024 Bank Comparison Tool. All rights reserved.</p>
</footer>

</body>
</html>
