body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
header {
    background-color: #0077b6;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu {
    display: flex;
    gap: 20px;
}
header .menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}
header .menu a:hover {
    color: #ffc300;
}
.landing-section {
    background: linear-gradient(to right, #0077b6, #00b4d8);
    color: white;
    text-align: center;
    padding: 160px 20px;
}
.landing-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.landing-section p {
    font-size: 20px;
    margin-bottom: 30px;
}
.landing-section button {
    padding: 10px 20px;
    font-size: 16px;
    color: #0077b6;
    background: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.landing-section button:hover {
    background: #ffc300;
}

.discription-section {
    text-align: center;
    padding: 160px;
}

.discription-section h1 {
    font-size: 40px;
}
.discription-section p {
    font-size: 25px;
}
.video-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.video-section h2 {
    margin-bottom: 20px;
    color: #0077b6;
}
.video-section video {
    width: 100%;
    border-radius: 8px;
}
.about-section {
    background-color: #f9f9f9;
    padding: 160px 20px;
    text-align: center;
}
.about-section h2 {
    margin-bottom: 20px;
    color: #0077b6;
}
.team {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.team-member {
    text-align: center;
    background: linear-gradient(to right, #0077b6, #00b4d8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
}
.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h2, h3 {
    color: white;
}
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}

.block {
    background: #fff;
    padding: 2rem 1rem;
}

.block .block-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.block .block-item {
    background: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.block .btn {
    display: inline-block;
    margin-top: 1rem;
    background: #007BFF;
    color: white;
    padding: 0.6rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}